# PyCharm files
.idea/
venv/
Thumbs.db
__pycache__/

# Python
jeu_python/test.py
jeu_python/dist/
jeu_python/build/

# Config (generer par l'executable)
serveur_web/config/config.json
jeu_python/config/settings.json
